{% extends "base.html" %}
{% block title %} ETF - NFA {% endblock %}
{% block body %}
<h1>ETF - NFA</h1>
<form action="/" method="post" onsubmit="return validate_form()">
    <div class="mb-3">
        <label for="string" class="form-label">String</label>
        <input name="string" type="text" class="form-control" id="string" autocomplete="off" />
        <div id="string" class="form-text">Masukkan string berupa kombinasi 0 dan 1. Contoh: 1001, 0101</div>
    </div>
    <div class="mb-3">
        <label for="language" class="form-label">Bahasa</label>
        <select id="language" name="language" class="form-select" required>
            <option selected disabled value="">Silakan Pilih Bahasa</option>
            <option value="L1">Bahasa L1 (diawali dengan simbol 1 dan diakhiri dengan simbol 0 dan terdapat
                subtring 11)</option>
            <option value="L2">Bahasa L2 (mengandung prefiks 11 dan jumlah 1 genap)</option>
            <option disabled value="L3">Bahasa L3 (diawali 00 dan diakhiri 11 dan jumlah 0 genap)</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Cek String</button>
</form>

<section>
    {% if isSend %}
        <hr>
        {% if isAccepted %}
            <h5 class="">Hasil: <button class="btn btn-success">String diterima</button> </h5>
        {% else %}
            <h5 class="">Hasil: <button class="btn btn-danger">String ditolak</button> </h5>
        {% endif %}
        <h5 class=" mt-3">Masukan: <span class="lead"> {{string}} </span> </h5>
        {% if language == "L1" %}
            <h5 class="">Bahasa: <span class="lead">L1</span> </h5>
            <h5 class="">Diagram Transisi NFA untuk L1:</h5>
            <img class="img-fluid" src="{{ url_for('static', filename='images/languageL1.png') }}"
                alt="Transition Diagram for Language L1">
        {% endif %}
        {% if language == "L2" %}
            <h5 class="">Bahasa: <span class="lead">L2</span> </h5>
            <h5 class="">Diagram Transisi NFA untuk L2:</h5>
            <img class="img-fluid" src="{{ url_for('static', filename='images/languageL2.png') }}"
                alt="Transition Diagram for Language L2">
        {% endif %}
        <div class="mt-3">
            <h5 class="">Langkah-Langkah:</h5>
            <ul>
                {%- for process in detailProcess -%}
                <li class="lead">
                    {{ process }}
                </li>
                {%- endfor -%}
            </ul>
        </div>
    {% endif %}
</section>
{% endblock %}